<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.watercloud.webmagic.mapper.SysRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.watercloud.webmagic.entity.SysRole">
        <result column="id" property="id" />
        <result column="role_code" property="roleCode" />
        <result column="role_name" property="roleName" />
        <result column="description" property="description" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, role_code, role_name, description, create_time, update_time, create_by, update_by
    </sql>

    <select id="getUserRole" parameterType="Integer" resultType="String">
        SELECT
            role_code
        FROM
            sys_role r
        INNER JOIN sys_user_role ur ON r.id = ur.role_id
        INNER JOIN sys_user u ON u.id = ur.user_id
        WHERE
            u.id = #{Integer}
    </select>

    <select id="getRoleGroup" resultType="map">
            SELECT
                role_code,
                role_name
            FROM
                sys_role
    </select>
</mapper>
